body {
	font-family: sans-serif, Verdana, Arial;
	background: #ACC9E6;
	}
	
header {
	/*background-image:url("../images/bkgrnd-header2.jpg");*/
	background-position:top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 400px;
	}	

footer {
	background-color: #0D2B21;
	background-position: bottom;
	width: 100%;
	height: 100px;
	opacity: 0.5;
	}

.navbar-inverse {
	background-color: #0D2B21;
	font: bold;
	opacity: 0.5;
}

.navbar-inverse:focus, .navbar-default .navbar-toggle:hover {
  background-color: #005CE6;
}	

.tab-panel {
	display: none;}
.tab-panel.active {
	display: block;}

h1 {
	font-family: 'Sigmar One', cursive;
	text-align: center;
	margin-top: 7%;
	color: #005CE6;
	font-size: 150%;
}

.top-p {
	font-family: 'Bree Serif', serif;
    text-align: left;
    margin-top: 8%;
    margin-left: 3%;
    margin-right: 10%;
    font-size: 2em;
    line-height: 1em;
    color: #FFFF;
  }

.button1 {     
	text-align: center;
	margin-top: 8%;
	color: #005CE6;
	font-size: 125%;
}
.button1 button:hover {
	background-color: #005CE6;
	color: #000000;
}

.skills-list {
	font-family: 'Ubuntu Mono', serif;
	list-style: none;
	text-align: center;
	margin-top: 5%;
}

.contact {
	margin-top: 5%;
	margin-bottom: 0%;
}

.submit {
	float: left;
	display: block;
	position: absolute;
	padding: 10px;
	}

.submit .btn-default:hover {
		color: #000000;
		background-color: #005CE6;
		}

.navbar-static-bottom {
  	background-color: #0D2B21;
	opacity: 0.5;
	position: bottom;
}	

.social {
    list-style: none;
    margin: 0 auto;
    position: right;
    display: block;
    padding-top: 10px;
    padding-left: 0;
    float: right;
  }

  .social li {
    display: inline;
    margin-right: 5px;
  }
  .social i {
    color: #fff;
  }

  .social i:hover {
    color: #005CE6;
  }  
  
p {
	padding: 20px;
}

#slideshow{
	margin:0 auto;
	margin-top: 10em;
	width:600px;
	height:400px;
	overflow: hidden;
	position: relative;
}

#slideshow ul{
	list-style: none;
	margin:0;
	padding:0;
	position: absolute;
}

#slideshow li{
	float:left;
}

#slideshow a:hover{
	background: rgba(0,0,0,0.8);
	border-color: #000;
}

#slideshow a:active{
	background: #990;
}

.slideshow-prev, .slideshow-next{
	position: absolute;
	top:180px;
	font-size: 30px;
	text-decoration: none;
	color:#fff;
	background: rgba(0,0,0,0.5);
	padding: 5px;
	z-index:2;
}

.slideshow-prev{
	left:0px;
	border-left: 3px solid #fff;
}

.slideshow-next{
	right:0px;
	border-right: 3px solid #fff;
}
	

/* Extra Small Devices, Phones */
@media only screen and (min-width : 300px)
{
	
	h1 {
		font-family: 'Sigmar One', cursive;
		text-align: center;
		font-size: 1.5em;
		margin-top: 10%;
		color: #FFFF;
	}	
	
	.button1 {     
	text-align: center;
	margin-top: 8%;
	color: #005CE6;
	font-size: 100%;
	}
	
	.top-p {
	font-family: 'Bree Serif', serif;
    text-align: center;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1em;
    color: #FFFF;
  }

  .bot-p {
	font-family: 'Bree Serif', serif;
    text-align: center;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1em;
    color: #FFFF;
  }
	
	.skills-list {
		font-family: 'Ubuntu Mono', serif;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		font-size: 1em;
	}
	.contact-input {
		color:#3c3c3c;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:500;
		font-size: 1em;
		line-height: 1em;
		background-color: #fbfbfb;
		padding: 3px 3px 3px 3px;
		margin-bottom: 8px;
		width:100%;
		box-sizing: border-box;
		border: 2px solid rgba(0,0,0,0);
	}

	.contact-input:focus{
		background: #fff;
		box-shadow: 0;
		border: 2px solid #3498db;
		color: #3498db;
		outline: none;
		padding: 8px 8px 8px 8px;
	}
	.ease {
		width: 0px;
		height: 2em;
		background-color:#005CE6;
		transition: .3s ease;
	}
	.submit:hover .ease{
		width:100%;
		background-color:#005CE6;
	}
  }
	
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
{
	
	.top-p {
	font-family: 'Bree Serif', serif;
    text-align: center;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 4em;
    line-height: 1em;
    color: #FFFF;
  }

  .bot-p {
	font-family: 'Bree Serif', serif;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2em;
    line-height: 1em;
    color: #FFFF;
  }
	
	h1 {
		font-family: 'Sigmar One', cursive;
		text-align: center;
		font-size: 2em;
		margin-top: 8%;
		color: #FFFF;
	}
	
	.button1 {     
	text-align: center;
	margin-top: 8%;
	color: #005CE6;
	font-size: 150%;
	}
	
	.skills-list {
		font-family: 'Ubuntu Mono', serif;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		font-size: 2em;
	}
	.contact-input {
		color:#3c3c3c;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:500;
		font-size: 2em;
		line-height: 2em;
		background-color: #fbfbfb;
		padding: 9px 9px 9px 9px;
		margin-bottom: 9px;
		width:100%;
		box-sizing: border-box;
		border: 3px solid rgba(0,0,0,0);
	}

	.contact-input:focus{
		background: #fff;
		box-shadow: 0;
		border: 3px solid #3498db;
		color: #3498db;
		outline: none;
		padding: 9px 9px 9px 9px;
	}
	.ease {
		width: 0px;
		height: 2em;
		background-color: #fbfbfb;
		transition: .3s ease;
	}
	.submit:hover .ease{
		width:100%;
		background-color:white;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{

	.top-p {
	font-family: 'Bree Serif', serif;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2.5em;
    line-height: 1em;
    color: #FFFF;
  }

  .bot-p {
	font-family: 'Bree Serif', serif;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2em;
    line-height: 1em;
    color: #FFFF;
  }
	
	h1 {
		font-family: 'Sigmar One', cursive;
		text-align: center;
		font-size: 2.5em;
		margin-top: 6%;
		color: #FFFF;
	}
	
	.button1 {     
	text-align: center;
	margin-top: 8%;
	color: #005CE6;
	font-size: 175%;
	}
	
	
	.skills-list {
		font-family: 'Ubuntu Mono', serif;
		list-style: none;
		text-align: center;
		margin-top: 3%;
		font-size: 2em;
	}
	.contact-input {
		color:#3c3c3c;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:500;
		font-size: 2em;
		line-height: 2em;
		background-color: #fbfbfb;
		padding: 11px 11px 11px 11px;
		margin-bottom: 10px;
		width:100%;
		box-sizing: border-box;
		border: 3px solid rgba(0,0,0,0);
	}

	.contact-input:focus{
		background: #fff;
		box-shadow: 0;
		border: 3px solid #3498db;
		color: #3498db;
		outline: none;
		padding: 11px 11px 11px 11px;
	}
	.ease {
		width: 0px;
		height: 3em;
		background-color: #fbfbfb;
		transition: .3s ease;
	}
	.submit:hover .ease{
		width:100%;
		background-color:white;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
{

	.tab-panel {
	display: none;}
	.tab-panel.active {	display: block;}
	
	.top-p {
	font-family: 'Bree Serif', serif;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3em;
    line-height: 1em;
    color: #FFFF;
  }

  .bot-p {
	font-family: 'Bree Serif', serif;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3em;
    line-height: 1em;
    color: #FFFF;
  }
	
	h1 {
		font-family: 'Sigmar One', cursive;
		text-align: center;
		font-size: 4em;
		margin-top: 5%;
		color: #FFFF;
	}
	
	.button1 {     
	text-align: center;
	margin-top: 8%;
	color: #005CE6;
	font-size: 175%;
	}
	
	
	.skills-list {
		font-family: 'Ubuntu Mono', serif;
		list-style: none;
		text-align: center;
		margin-top: 4%;
		font-size: 3em;
	}
	.contact-input {
		color:#3c3c3c;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:500;
		font-size: 2em;
		line-height: 2em;
		background-color: #fbfbfb;
		padding: 12px 12px 12px 12px;
		margin-bottom: 10px;
		width:100%;
		box-sizing: border-box;
		border: 3px solid rgba(0,0,0,0);
	}

	.contact-input:focus{
		background: #fff;
		box-shadow: 0;
		box-shadow: 0;
		box-shadow: 0;
		box-shadow: 0;
		box-shadow: 0;
		border: 3px solid #3498db;
		color: #3498db;
		outline: none;
		padding: 13px 13px 13px 13px;
	}
	.ease {
		width: 0px;
		height: 4em;
		background-color: #fbfbfb;
		transition: .3s ease;
	}
	.submit:hover .ease{
		width:100%;
		background-color:white;
	}
}

	